#This file is a template for the .env file that will be used to store sensitive information for the project.
#Ensure you create a .env file in the same directory as this template and add your sensitive information there. Do not commit the .env file to version control.
#
dnac_host=
base_dnac_url=
dnac_cert_name=
dnac_cert_sha512_hash=

#ISE nodes enabled for ERS API
ers_primary_hostname=
ers_primary_url=
ers_primary_name=
ers_primary_sha512_hash=

#IP address of the switch you want to test the API against
test_switch_ip=

domain_suffix=
tacacs_key=
radius_key=

#Create other variables below if you have dupliactes
ise1_ip=
ise1_hostname=
dhcp_1=
voip_dhcp=
wds1=



#READ ME
#Create a file in your project folder named ".env"
#Copy this file into the .env file and add your sensitive information to the right of the equal sign for each variable
#Ex: dnac_host=https://asid-server-dnac.domain1.domain2
#Add the .env file to your .gitignore file so it is not committed to version control
#To encrypt the .env file on Windows, follow these steps:
#Open file explorer
#Navigate to the folder where your python project is
#Right clikc .env
#Click "Advanced..."
#Check the box next to "Encrypt contents to secure data" and click ok
#A popup may ask to encypt the parent folder, click ok